.aboutSection{
    height: 100%;
    width: 100%;
    background-color: #23272f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}


.aboutSection .left{
    flex: 30%;
}

.aboutSection .left img{
    width: 500px;
}

.aboutSection .right{
    display: flex;
    align-items: baseline;
    flex: 70%;
    flex-direction: column;
    justify-content: center;
    padding: 36px;
    
}