.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #23272f;
    color: white;
    margin: 0;
    position: sticky;
    z-index: 1;
    box-shadow: 0px 0px 5px 0px;
}

.logo img{
    width: 80px;
    padding-left: 16px;
}

.links{
    display: flex;
    text-decoration: none;
    padding-right: 16px;
}

.links li{
    padding: 16px;
    list-style: none;
    cursor: pointer;
    font-size: 18px;
}

.links li:hover{
    background-image: conic-gradient(from 90deg at -10% 100%, #2b303b 0deg, #2b303b 90deg, #16181d 1turn);
    border-radius: 9999px;
}


