.searchBarContainer{
    padding: 32px;
    width: 100%;
}

.searchBarContainer input{
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border-radius: 9999px;
    background-color: #2b303b;
    color: white;
    border: none;
}

.searchBarContainer input::placeholder{
    color: white;
}