.hidden {
    display: none !important;
}



.panelWorkout {
    margin: 0px;
    background-color: #23272f;
    min-height: 100vh;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}

.panelWorkout .top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panelWorkout .bottom .container .workoutName {
    width: 100%;
    padding: 12px 16px;
    border-radius: 9999px;
    border: none;
    margin: 16px 0px 16px 0px;

}

.panelWorkout .bottom form.container {
    padding: 32px;
}

.panelWorkout .bottom .container input[type="text"]:focus {
    outline: none;
}


.panelWorkout .bottomWorkout .searchExercisesList {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 0px 32px 16px 32px;
    margin: 0;
}

.panelWorkout .bottomWorkout .searchExercisesList {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 0px 32px 16px 32px;
    margin: 0;
}

.panelWorkout .bottomWorkout .searchExercisesList .exercise {
    background-image: conic-gradient(from 90deg at -10% 100%, #1b1c1f 0deg, #272728 90deg, #16181d 1turn);
    overflow: hidden;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    margin: 16px;
}

.panelWorkout .bottomWorkout .searchExercisesList .exercise table {
    padding: 16px;
    margin: 0px;
    list-style: none;
}

.panelWorkout .bottomWorkout .searchExercisesList .exercise table td {
    padding: 8px;
}

.panelWorkout .bottomWorkout .searchExercisesList .exercise table td .delButton {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #862020;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    padding: 18px;

}

.panelWorkout .bottomWorkout .searchExercisesList .exercise table select {
    background-color: #2b303b;
    color: white;
    border: none;
    font-size: 20px;
}

.panelWorkout .bottomWorkout .searchExercisesList .exercise table input {
    max-width: 100px;
    color: white;
    outline: none;
    background-color: #2b303b;
    color: white;
    border: none;
    font-size: 20px;
}


.panelWorkout .bottomWorkout button {
    padding: 16px;
    border-radius: 9999px;
    border: none;
    margin: 16px 0px 16px 0px;
    background-color: #2b303b;
    color: white;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}

.panelWorkout .bottomWorkout .bottomButtons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 32px;
}


.panelWorkout .bottomWorkout button:hover {
    background-color: #22262c;
}

.searchExercises {
    display: flex;
    width: 100%;
    max-height: 750px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #16181d;
    border-radius: 8px;
}

.searchExercises ul {
    width: 100%;
    height: 600px;
    list-style: none;
    padding: 0px 32px 16px 32px;
    overflow-y: scroll;
    margin: 0;
    scrollbar-width: none;
}

.searchExercises ul p {
    font-size: large;
    font-weight: bold;
    text-align: center;
}


.searchExercises li {
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    width: 100%;
}

.searchExercises li.noCursor {
    cursor: auto;
}


.searchExercises li:hover {
    background-color: #22262c;
    border-radius: 9999px;
}

.panelWorkout .bottomWorkout {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.panelWorkout .finishWorkout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.panelWorkout .finishWorkout .container,
.panel .addExercise .container {
    background-image: conic-gradient(from 90deg at -10% 100%, #1b1c1f 0deg, #272728 90deg, #16181d 1turn);
    overflow: hidden;
    padding: 32px;
    border-radius: 10px;
    text-align: center;
    margin: 16px;
    display: flex;
    flex-direction: column;
}

.panelWorkout .finishWorkout .container input,
.panel .addExercise .container input {
    color: white;
    outline: none;
    background-color: #2b303b;
    border: none;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    width: 300px;
}

.panelWorkout .finishWorkout .container .buttonsFinishWorkout,
.panel .addExercise .container .buttonsFinishWorkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panelWorkout .finishWorkout .container .buttonsFinishWorkout button,
.panel .addExercise .container .buttonsFinishWorkout button {
    padding: 16px;
    border-radius: 9999px;
    border: none;
    margin: 16px 0px 16px 0px;
    background-color: #2b303b;
    color: white;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}